@model MvcBlog.Models.Yorum

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detaylar</h2>

<div>
    <h4>Yorum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Başlık : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makale.Baslik)
        </dd>

        <dt>
            Kullanıcı Adı : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uye.KullaniciAdi)
        </dd>

        <dt>
            İçerik : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>

        <dt>
            Tarih : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.YorumId }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
