@model MvcBlog.Models.Makale

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detaylar</h2>

<div>
    <h4>Makale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kategori Adı : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.KategoriAdi)
        </dd>

        <dt>
            Kullanıcı Adı : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uye.KullaniciAdi)
        </dd>

        <dt>
            Başlık : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            İçerik : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>

        <dt>
            Fotoğraf : 
        </dt>

        <dd>
            <img src="@Model.Foto" class="img-responsive" alt="@Model.Kategori" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Okunma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Okunma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.MakaleId }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
